include ../configs/config.pug
doctype html
html(lang="en")
  head
    include ../configs/head.pug
  body
    include ../includes/header.pug
    main
      block content
    include ../includes/footer.pug