/*! -------------------------
Planta
-------------------------- */

@use "../abstract" as *;

.planta__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  @include laptop {
    flex-direction: row;
  }
}

.planta__images,
.planta__description {
  width: 100%;
  @include laptop {
    width: 50%;
  }
  max-width: 650px;
  margin: 0 auto;
}

.planta__images {
  order: 2;
  @include laptop {
    order: 1;
  }
}

.planta__img-wrap {
  width: 100%;
  height: 100%;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  }
}

.planta__description {
  order: 1;
  @include laptop {
    padding-left: 40px;
    order: 2;
  }
}

.planta__article {
  margin-bottom: 40px;
}
