/*! -------------------------
Typo
-------------------------- */

@use "../abstract/config" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: "arial";
  font-size: $size-md1;
  font-weight: 400;
}