/*! -------------------------
Typo
-------------------------- */

@use "../abstract" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: $size-md1;
  color: $color-text;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}