// /*! -------------------------
// Fonts
// -------------------------- */

@use "./variables" as *;


// FAMILIES ...

  // Fuente Principal
  // Para contenido en general
  $font-primary: 'Lato', sans-serif;

  // Fuente Secundaria
  // Para contenido especial/destacado
  // 


// SIZES ...

  // Small Sizes
  $size-sm1: 1.2rem;
  $size-sm2: 1.4rem;

  // Medium Sizes
  $size-md1: 1.6rem;
  $size-md2: 1.8rem;
  $size-md3: 2.0rem;

  // Large Sizes
  $size-lg1: 2.4rem;
  $size-lg2: 3.6rem;
  $size-lg3: 4.8rem;

  // Extra-Large Sizes
  $size-xl1: 5.6rem;
  $size-xl2: 6.4rem;
  $size-xl3: 7.2rem;


// WEIGHTS ...

  // Regular
  $normal: 400;
 
  // Heavy
  $bold: 700;