// /*! -------------------------
// Variables
// -------------------------- */

// Typo weights

<<<<<<< HEAD
$tiny: 200;
$light: 400;
$normal: 500;
$medium: 600;
$bold: 700;
$black: 800;
=======
$tiny: 200
$light: 400
$normal: 500
$medium: 600
$bold: 700
$black: 800
>>>>>>> 9ab314a02c1bb6c29ae4508f1b03f3787f56fd08
