extend ../templates/template.pug
block content
  span.texto1 Texto de prueba
  span.texto2 Texto de prueba
  span.texto3 Texto de prueba
  span.texto4 Texto de prueba
  span.texto5 Texto de prueba
  span.texto6 Texto de prueba
  span.texto7 Texto de prueba
  span.texto8 Texto de prueba