//- MIXINS



//- VARIABLES

//- Titulos y descripciones varias
    para website y opengraph protocol

- let siteTitle = 'Titulo del sitio'
- let siteDescription = 'Descripción del sitio'



//- ARRAYS & OBJETOS