//- MIXINS



//- VARIABLES

//- Titulos y descripciones varias
    para website y opengraph protocol

- let siteTitle = 'Tausa S.A. - Productos Químicos'
- let siteDescription = 'Fabricación, Venta, Almacenamiento y Logística de Productos Químicos'



//- ARRAYS & OBJETOS