//- meta

meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='robots' content='follow, index')
meta(name='description' content='')
meta(name='author' content='dosunouno.dev / Martín Fernández')
title

//- open graph protocol

meta(property='og:title' content='')
meta(property='og:type' content='')
meta(property='og:url' content='')
meta(property='og:image' content='')

//- css

link(rel='stylesheet' href='./css/styles.css')


//- fonts

//- https://fonts.google.com/


//- favicons

//- https://www.favicon-generator.org/