//- meta

meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='robots' content='follow, index')
meta(name='description' content='')
meta(name='author' content='dosunounodev.com')
title= `${siteTitle}`

//- open graph protocol

meta(property='og:title' content=''+ siteTitle)
meta(property='og:type' content='Website oficial de Tausa S.A.')
meta(property='og:description' content=''+ siteDescription)
meta(property='og:url' content='https://tausa.com.ar')
meta(property='og:image' content='./assets/icons/')

//- css

link(rel='stylesheet' href='./css/styles.css')


//- fonts

link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap", rel="stylesheet")


//- favicons

link(rel="icon", type="image/png", sizes="32x32", href="./assets/icons/favicon-32x32.png")
//- https://www.favicon-generator.org/


//- icons

script(src="https://kit.fontawesome.com/6043d9e4ba.js", crossorigin="anonymous")