//- meta

meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='robots' content='follow, index')
meta(name='description' content='')
meta(name='author' content='dosunouno.dev / Martín Fernández')
title

//- open graph protocol

meta(property='og:title' content='')
meta(property='og:type' content='')
meta(property='og:url' content='')
meta(property='og:image' content='')

//- css

link(rel='stylesheet' href='./css/styles.css')


//- fonts

link(rel="preconnect", href="https://fonts.gstatic.com")
link(href!="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap", rel="stylesheet")
link(href!="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap", rel="stylesheet")


//- favicons

link(rel="icon", type="image/png", sizes="32x32", href="./assets/icons/favicon-32x32.png")
//- https://www.favicon-generator.org/


//- icons

script(src="https://kit.fontawesome.com/6043d9e4ba.js", crossorigin="anonymous")