section#calidad
  div.calidad__wrap
    .calidad__cards-wrap
      article.calidad__card
        .calidad__special__data
          h2 Calidad Tausa
          h3 Nuestros procesos estan avalados por certificación Iso en Calidad y 4500001/2018.
        .calidad__special__img
          img(src="./assets/bureau_demo.png", alt="Bureau Veritas ISO 9001")
      article.calidad__card
        .card
        h3 Compromiso con nuestros clientes
        p.calidad__text Puntualidad en cumplimiento de los plazos tanto en la fabricación como en la entrega de nuestros productos.
        p.calidad__text Brindamos soluciones integrales para que cada cliente pueda desarrollarse y poner foco en su negocio.
        .calidad__cta
          a(href="#servicios").calidad__button ver servicios
          i.fas.fa-handshake.calidad__icon
      article.calidad__card
        h3 Metodología en los procedimientos
        p.calidad__text Contamos con personal especializado y altamente capacitado.
        p.calidad__text Seguridad en planta: Sin accidentes desde nuestros inicios de operaciones con químicos en Enero de 2016
        .calidad__cta
          a(href="#planta").calidad__button ver planta
          i.fas.fa-hard-hat.calidad__icon
      article.calidad__card
        h3 Calidad en nuestra operación
        p.calidad__text Nos avalan más de 40.000tn de producción con un 0% de rechazo.
        p.calidad__text Contamos con múltiples certificaciones que respaldan nuestra prioridad por la calidad.
        .calidad__cta
          a(href="#contacto").calidad__button contactarnos
          i.fas.fa-award.calidad__icon