section#calidad
  div.calidad__wrap
    .calidad__cards-wrap
      article.calidad__card
        .calidad__special__data
          h2 Calidad Tausa
          h3 Nuestros procesos estan avalados por certificación Iso 9001/2015 en Calidad y por ISO 45001/2018 en Seguridad y Salud en Trabajo.
        .calidad__special__img
          img(src="./assets/bureau_demo.png", alt="Bureau Veritas ISO 9001")
      article.calidad__card
        .card
        h3 Compromiso con nuestros clientes
        p.calidad__text Puntualidad en cumplimiento en los plazos de fabricación y entrega de productos.
        p.calidad__text Brindamos soluciones integrales para que el cliente se pueda desarrollar y ponga foco en su negocio.
        .calidad__cta
          a(href="#servicios").calidad__button ver servicios
          i.fas.fa-handshake.calidad__icon
      article.calidad__card
        h3 Metodología en los procedimientos
        p.calidad__text Contamos con múltiples certificaciones que respaldan nuestra prioridad por la calidad.
        p.calidad__text Nuestro personal es especializado y altamente capacitado.
        p.calidad__text Tenemos un riguroso seguimiento en la aplicación de los procedimientos en la planta.
        .calidad__cta
          a(href="#planta").calidad__button ver planta
          i.fas.fa-hard-hat.calidad__icon
      article.calidad__card
        h3 Calidad y Seguridad en nuestra operación
        p.calidad__text Nuestra calidad de procesos está avalada por más de 40.000tn de producción sin rechazos por calidad.
        p.calidad__text Sin accidentes desde nuestros inicios de operaciones con productos químicos en Enero de 2016
        .calidad__cta
          a(href="#contacto").calidad__button contactarnos
          i.fas.fa-award.calidad__icon