footer#footer
  div.footer__wrap
    p.footer__text © 2021 - Tausa
    p.footer__span Reservados todos los derechos.
    p.footer__text Desarrollo web: 
      a(href="https://dosunounodev.com" target="_blank" rel="noopener") dosunouno.dev 