header#header
  div.header__background
    div.header__wrap
      .header__hero
        .hero__logo
          img(src="./assets/Logo01.png", alt="Tausa Logo")
        h1.hero__title Una Empresa 
          span.hero__span Argentina
        p.hero__text Fundada hace 17 años y enfocada a satisfacer la demanda de fabricación, venta, almacenamiento y logística de productos químicos en la Provincia de Neuquén.
      .header__cards
        .header__cardbox
          h2.cardbox__title Calidad y Seguridad
          p.cardbox__text Procesos avalados por certificaciones en: Calidad (ISO 9001) & Seguridad y Salud en trabajo (ISO 45001)
        .header__cardbox
          h2.cardbox__title Flexibilidad
          p.cardbox__text Tenemos la flexibilidad para resolver las necesidades del cliente de manera competitiva.
        .header__cardbox--doble
          p.cardbox__dobletext Más de 17 años de experiencia nos avalan.