nav
  div.navbar__wrap
    .nav__logo-container
      a(href="#header")
        img(src="./assets/Logo01.png", alt="Tausa Logo")
    .nav__menu-container
      ul.nav__menu-desktop
        li.nav__menu-item
          a(href="#planta").nav__link Nuestra Planta
        li.nav__menu-item
          a(href="#servicios").nav__link Servicios 
        li.nav__menu-item
          a(href="#calidad").nav__link Calidad 
        li.nav__menu-item
          a(href="#contacto").nav__link Contacto 
      .nav__burger-wrap
        .menu-icon-container#menu-icon-container
          .menu-icon
      ul.menu__container.menu__container--hide#menu__container
        a(href='#header').menu__link 
          li.menu__item Nosotros
        a(href='#planta').menu__link 
          li.menu__item Nuestra Planta
        a(href='#servicios').menu__link 
          li.menu__item Servicios
        a(href='#calidad').menu__link 
          li.menu__item Calidad
        a(href='#contacto').menu__link 
          li.menu__item Contacto