section#planta
  div.planta__wrap
    .planta__images
      .planta__img-wrap
        img(src="./assets/pic02.jpg", alt="")
    .planta__description
      h2 Base Neuquén
      article.planta__article1.planta__article
        h3 Procesamiento, Almacenamiento y Logística de productos químicos
        p - Galpón de 800 m2 y playa de hormigón de 1600 m2
          br 
          | - 61 m3 en 6 Tanques silo de proceso con paletas mezcladoras
          br
          | - 105 m3 en 3 Tanques de almacenamiento de metanol y xileno/tolueno
          br
          | - 80 m3 en Tanques plásticos para agua
          br
          | - 8 bombas de trasvase indpendientes con juegos de mangueras
      article.planta__article2.planta__article
        h3 Permisos y Certificaciones
        p - Certificación ISO 9001:2015 y 45001:2018
          br 
          | - Instalaciones con Red de Incendio pararrayos
          br
          | - Seguridad del predio por sistemas monitoreados de ultima generación
          br
          | - Licencia Comercial
          br
          | - Licencia Ambiental Municipal y Provincial
          br
          | - Inscripción en Renpre
          br
          | - Inscripción Resolución 1102
          br
          | - Inscripción I.N.V.