section#planta
  div.planta__wrap
    .planta__images
      .planta__img-wrap
        img(src="./assets/pic02.jpg", alt="")
    .planta__description
      h2 Base Neuquén
      article.planta__article1.planta__article
        h3 Procesamiento, Almacenamiento y Logística de productos químicos
        p - Galpones equipados para almacenamiento de todo tipo de sustancias.
          br 
          | - Amplias playas de almacenamiento
          br
          | - Reactor con sistema de compensación térmica
          br
          | - Tanques silos de proceso con paletas mezcladoras.
          br
          | - Tanques de almacenamiento de Metanol, Xileno/Tolueno y agua.
          br
          | - Multiplicidad de bombas de trasvase, para evitar contaminaciones de productos.
      article.planta__article2.planta__article
        h3 Permisos y Certificaciones
        p - Certificación ISO 9001:2015 y 45001:2018
          br 
          | - Instalaciones con Red de Incendio
          br
          | - Sistemas antiestáticas y pararrayos.
          br
          | - Seguridad del predio por sistemas monitoreados de última generación
          br
          | - Licencia Comercial
          br
          | - Licencia Ambiental Municipal y Provincial
          br
          | - Inscripción en Renpre
          br
          | - Inscripción Resolución 1102
          br
          | - Inscripción I.N.V.