section#servicios
  div.servicios__wrap
    .servicios__bg
      img(src="./assets/pic01.jpg", alt="")
    .servicios__content
      article.servicios__article1
        h2 Nuestros Servicios:
        p - Producción de químicos a Fazon.
          br 
          | - Venta de diluyentes para Fazon, Metanol, Xileno, Tolueno.
          br
          | - Recepción y almacenamiento a granel de Metanol , Xileno , Tolueno , Ácido Clorhídrico.
          br
          | - Lavado y reparación de IBC.
          br
          | - Filtrado de productos.
          br
          | - Recepción y almacenamiento de materia prima del Cliente.
          br
          | - Almacenamiento de producto terminado en IBC o a Granel.
          br
          | - Despacho de metanol en IBC o a granel.
      article.servicios__article2
        h3 Nuestra Diferencia:
        p Logística de distribución.
          br 
          | Control de Inventario.
          br
          | Producción a medida del cliente.
    .servicios__box
      p.servicios__spanbox Realizamos control de calidad del producto terminado y componentes , con Laboratorio propio.