/*! -------------------------
Header
-------------------------- */

@use "../abstract" as *;

header {
  height: 100vh;
  padding-top: 50px;
  background-image: url('../assets/pic00.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header__background {
  width: 100%;
  height: 100%;
  background: $color-bg-light-transparent;
  background: -webkit-linear-gradient(
    to bottom,
    $color-bg-light-transparent 20%,
    $color-bg-dark-transparent
  );
  background: linear-gradient(
    to bottom,
    $color-bg-light-transparent 20%,
    $color-bg-dark-transparent
  );
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.25);
}

.header__mobile {
  @include tablet {
    display: none;
  }
}

.mobile__title {
  color: $color-bg-light;
  font-size: $size-lg1;
  margin-bottom: 20px;
  text-shadow: $color-bg-dark 3px 3px 3px;
  max-width: 30ch;
}

.mobile__cta,
.tablet__cta {
  display: inline-block;
  padding: 10px 20px;
  color: $color-bg-light;
  background-color: $color-primary;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  @include transition(0.3s, 0, linear, background-color);

  &:hover {
    background-color: $color-bg-dark;
  }
}

.mobile__cta,
.mobile__cta--special {
  width: 200px;
  text-align: center;
}

.mobile__cta--special {
  margin-top: 20px;
  background-color: $color-bg-light;
  color: $color-primary;
}

.mobile__cards {
  position: fixed;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba($color-bg-light, 0.95);
  opacity: 1;
  @include transition(0.3s, 0, linear, opacity);

  .header__cardbox {
    width: 100%;
    margin-bottom: 20px;
  }

  .cardbox__title--special {
    font-size: $size-md3;
    margin-bottom: 10px;
  }

  .cardbox__text {
    color: $color-bg-dark;
    font-size: $size-sm2;
  }

  @include tablet {
    display: none;
  }
}

.mobile__cards-hide {
  opacity: 0;
  pointer-events: none;
}

.tablet__cta {
  font-size: $size-lg1;
  margin: 20px auto;
  max-width: 20ch;
  text-align: center;
  @include laptop {
    margin: initial;
    margin-top: 20px;
  }
}

.header__hero {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto 0;
    width: 100%;
  }
}

.hero__logo {
  display: none;

  @include tablet {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @include laptop {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.hero__title {
  margin-bottom: 10px;
  font-size: $size-lg2;
  text-align: center;
  color: $color-bg-light;
  text-shadow: $color-bg-dark 3px 3px 3px;

  span {
    font-size: $size-lg3;
    color: $color-primary;
    text-shadow: $color-bg-light 3px 3px 1px;
  }

  @include tablet {
    margin-bottom: 20px;
    font-size: $size-xl1;
  }

  @include laptop {
    text-align: initial;
  }
}

.hero__text {
  max-width: 40ch;
  padding: 10px;
  margin: 0 auto;
  font-size: $size-md1;
  font-weight: 400;
  text-align: center;
  color: $color-bg-light;
  background-color: rgba(0, 0, 0, 0.5);

  @include tablet {
    font-size: $size-lg1;
    font-weight: 700;
  }

  @include laptop {
    margin: initial;
    text-align: initial;
  }
}

.header__cards {
  display: none;
  width: 100%;
  margin-top: auto;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
  }
}

.header__cardbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 40px;

  @include laptop {
    width: 30%;
    align-items: flex-start;
  }
}

.cardbox__title {
  display: inline-block;
  width: 80%;
  margin: 0;
  padding: 10px 20px;
  font-size: $size-md1;
  text-align: center;
  background-color: $color-primary;
  color: $color-bg-light;
  @include laptop {
    text-align: flex-start;
    margin-bottom: 10px;
  }
}

.cardbox__text {
  padding-right: 20px;
  font-size: $size-md1;
  color: $color-bg-light;
  max-width: 300px;
  text-align: center;
  @include laptop {
    text-align: initial;
  }
}

.header__cardbox--doble {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);

  @include laptop {
    display: flex;
    width: 40%;
  }
}

.cardbox__dobletext {
  color: $color-bg-light;
  font-size: $size-lg2;
  font-weight: 700;
  text-align: center;
  max-width: 25ch;
  padding: 0 20px;
  @include laptop {
    font-size: $size-lg1;
  }
}
