/*! -------------------------
Header
-------------------------- */

@use "../abstract" as *;

header {
  height: 100vh;
  padding-top: 50px;
  background-image: url('../assets/pic00.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header__background {
  width: 100%;
  height: 100%;
  background: $color-bg-light-transparent;
  background: -webkit-linear-gradient(
    to bottom,
    $color-bg-light-transparent 20%,
    $color-bg-dark-transparent
  );
  background: linear-gradient(
    to bottom,
    $color-bg-light-transparent 20%,
    $color-bg-dark-transparent
  );
}

.header__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  // background-color: red;
  @include tablet {
    height: 50%;
    padding: 20px;
  }
  @include laptop {
    height: 100%;
  }
}

.hero__logo {
  display: none;

  @include tablet {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @include laptop {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.hero__title {
  margin-bottom: 10px;
  font-size: $size-lg2;
  text-align: center;
  color: $color-bg-light;
  span {
    font-size: $size-lg3;
    color: $color-primary;
  }

  @include tablet {
    margin-bottom: 20px;
    font-size: $size-xl1;
  }

  @include laptop {
    text-align: initial;
  }
}

.hero__text {
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
  font-size: $size-md1;
  font-weight: 400;
  text-align: center;
  color: $color-bg-light;
  background-color: rgba(0, 0, 0, 0.5);

  @include tablet {
    font-size: $size-lg1;
    font-weight: 700;
  }

  @include laptop {
    margin: initial;
    text-align: initial;
  }
}

.header__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: red;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50%;
    padding-bottom: 20px;
  }
}

.header__cardbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    width: 50%;
  }

  @include laptop {
    width: 25%;
    align-items: flex-start;
  }
}

.cardbox__title {
  display: inline-block;
  width: 80%;
  margin: 0;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: $size-md1;
  text-align: center;
  background-color: $color-primary;
  color: $color-bg-light;
  @include tablet {
    font-size: $size-md1;
  }
  @include laptop {
    text-align: flex-start;
    margin-bottom: 10px;
  }
}

.cardbox__text {
  padding-right: 20px;
  font-size: $size-md1;
  color: $color-bg-light;
  max-width: 300px;
  text-align: center;
  @include laptop {
    text-align: initial;
  }
}

.header__cardbox--doble {
  display: none;

  @include tablet {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @include laptop {
    display: flex;
    width: 50%;
  }
}

.cardbox__dobletext {
  color: $color-bg-light;
  font-size: $size-lg2;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
}
